p{
    text-align: center;
    color: black;
    height: 100px;
    background-color: aqua;
}
div{
    color:white;
    height: 0%;
    width: 12px;
    justify-content: flex-end;
}
body{
    
    
}
.button{
    justify-content: space-evenly;
    
}